#box{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:0;
    #mulu-header{
        width: 100%;
        height: 1.3rem;
        background: #29A6DC;
        div:nth-of-type(1){
            width: 0.5rem;
            height: 0.5rem;
            background: #FAFAFA;
            color: #41B0DF;
            font-size: 0.3rem;
            text-align: center;
            line-height: 0.5rem;
            margin-left: 0.4rem;
            margin-top: 0.5rem;
            border-radius: 50%;
            float: left;
        }
        ul{
            width: 5rem;
            height: 1rem;
            background: #2A3441;
            border-radius: 50px;
            float: left;
            margin-left: 0.3rem;
            margin-top: 0.2rem;
            font-size: 0.3rem;
            color: #FFFFFF;
            font-size: 0.5rem;
            .headertop{
                width: 33.33%;
                height: 0.7rem;
                border-right:1px solid #fff;
                margin-top: 0.15rem;
                position: relative;
                float:left;
                .yuan{
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    right:-1.5px;
                    top:7px;
                }
                .yuan:nth-of-type(2){
                    top: 0.5px;
                }
                .bt-mulu{
                    width: 80%;
                    height: 0.6rem;
                    border-radius: 50px;
                    text-align: center;
                    margin-left: 0.15rem;
                    float: left;
                    p{
                        font-size:14px;
                        line-height: 14px;
                        margin-top: 4px;
                    }
                    span{
                        display: block;
                        font-size:10px;
                        text-align: center;
                        line-height: 10px;
                    }
                }
            }
            .headertop:nth-of-type(2){
                .yuan{
                    right:-2px;
                }
            }
            .headertop:nth-of-type(3){
                width: 32%;
                border-right:0;
            }
            .bt-sq{
                width: 30%;
                height: 0.7rem;
                float: left;
                text-align: center;
                line-height: 0.7rem;
                margin-top: 0.25rem;
                margin-left: 0.25rem;
                border-left: 1px solid #EFEFEF;
            }
            .bt-bj{
                width: 30%;
                height: 0.7rem;
                float: left;
                line-height: 0.7rem;
                text-align: center;
                margin-top: 0.25rem;
                margin-left: 0.25rem;
                border-left: 1px solid #EFEFEF;
            }
        }
    }
    .active{
        background: #29A6DC;
        border: 2px solid #FFFFFF;
        border: 2px solid #FFFFFF;
    }
    .jilu{
        width: 100%;
        height: 0.6rem;
        background: #E5E5E5;
        font-size: 16px;
        color:#B5B5B5;
        text-align: center;
        line-height: 0.6rem;
    }
    #list-box{
        width: 100%;
        height: auto;
        .list{
           width: 100%;
           height: 2rem;
           border-bottom:1px solid #9CEFE0;
           .iconbox{
               width: 20%;
               height: 100%;
               float: left;
               .icon{
                   width:0.9rem;
                   height:0.9rem;
                   background:url(img/12.png);
                   margin:0.55rem auto;
                   background-size: cover;
               }
           }
           .right{
               width: 80%;
               height: 100%;
               float: left;
               position: relative;
               h6{
                   font-size: 14px;
                   color:#000;
                   line-height: 25px;
               }
               p{
                   font-size: 8px;
                   color:#666666;
                   line-height: 15px;
               }
               a{
                   display: block;
                   font-size: 10px;
                   color:#A6C1FF;
                   margin-left: 10px;
                   float: left;
                   position: absolute;
                   left: 5px;
                   bottom: 0.5px;
               }
               a:nth-of-type(2){
                   color: #9B9B9B;
                   font-size: 8px;
                   left: 20px;
               }
               a:nth-of-type(3){
                   color: #F65AE1;
                   font-size: 14px;
                   left: 55px;
                   bottom: -1px;
               }
               a:nth-of-type(4){
                   color: #9B9B9B;
                   font-size: 8px;
                   left: 70px;
               }
               a:nth-of-type(5){
                   width: 0.8rem;
                   height: 0.3rem;
                   border-radius: 5px;
                   background: #2542F3;
                   float: right;
                   margin-right: 60px;
                   position: relative;
                   .cir{
                       width: 3px;
                       height: 3px;
                       border-radius: 50%;
                       background: #fff;
                       position: absolute;
                       left: 3px;
                       top:6px;
                   }
                   .cir:nth-of-type(2){
                       position: absolute;
                       left: 33px;
                       top:6px;
                   }
                   .zi{
                       font-size: 6px;
                       color:#fff;
                       text-align: center;
                   }
               }
               .rightbox{
                   width: 80%;
                   height: 0.8rem;
                   border-radius: 10px;
                   background: #9AE1FF;
                   margin-top: 2px;
                   border:1px solid #ededed;
                   position: relative;
                   .circle{
                       width: 5px;
                       height: 5px;
                       border-radius: 50%;
                       background: #fff;
                       position: absolute;
                       left: 8px;
                       top:6px
                   }
                   .circle:nth-child(2){
                       position: absolute;
                       left: 8px;
                       top:29px ;
                   }
                    .circle:nth-child(3){
                       position: absolute;
                       top:29px ;
                       left: 225px;
                   }
                   .circle:nth-child(4){
                       position: absolute;
                       top:6px ;
                       left: 225px;
                   }
                   span{
                       font-size: 16px;
                       color:#E23D5F;
                      position: absolute;
                      left: 18px;
                      top:5px;
                   }
                   p{
                       color:#E23D5F;
                       font-size: 12px;
                       margin-left:35px;
                       margin-top: 5px;
                   }
               }
           }
        }
        .list:nth-of-type(2){
            .right{
                width: 85%;
                background: #29DCBC;
                position: relative;
                h6{
                    color:#fff;
                    margin-left: 27px;
                }
                p{
                    color:#E8F2F0;
                    margin-left: 27px;
                }
                a{
                    color:#fff;
                }
                .rightbox{
                    height: 0;
                    background: transparent;
                    border:0;
                    span{
                        left:27px;
                        top:0;
                        color:#fff;
                    }
                    p{
                      margin-left:45px;  
                      color:#20A67A;
                    }
                }
                .circle{
                    position: absolute;
                    right:-2.5px;
                    top:0;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #29DCBC;
                }
                .circle:nth-of-type(2){
                    top:10px;
                }
                .circle:nth-of-type(3){
                    top:20px;
                }
                 .circle:nth-of-type(4){
                    top:30px;
                }
                 .circle:nth-of-type(5){
                    top:40px;
                }
            }
            .iconbox2{
                width: 15%;
                height: 100%;
                float: left;
                .icon1{
                    width: 0.5rem;
                    height: 0.5rem;
                    border:1px solid #6DE7D1;
                    border-radius: 50%;
                    font-size: 10px;
                    text-align: center;
                    line-height: 0.5rem;
                    color:#6DE7D1;
                    margin:0.67rem auto;
                }
            }
        }
         .list:nth-of-type(3){
             border-bottom:1px dashed #9F9F9F;
            .rightbox{
                height: 0;
                background: transparent;
                border:0; 
                span{
                    left:0px;
                    top:0;
                    color:#BBBBBB;
                }
                p{
                  margin-left:20px;  
                }
            }
         }
    }
    .dibu{
        width: 100%;
        height: 1.4rem;
        background: #151C2B;
        float: left;
        margin-top: 2.9rem;
        div{
            width: 30%;
            height: 0.8rem;
            background: #F4F4F4;
            margin-left:35%;
            margin-top: 0.35rem;
            font-size: 0.4rem;
            text-align: center;
            line-height: 0.8rem;
            border-radius: 30px;
        }
    }
    .zz{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 66;
        background-image: url(img/11.png);
        background-size: cover;
        display: none;
    }
}
