.dbz{
    width: 100%;
    height: auto;
//  overflow: hidden;
}
.headerz{
    width: 100%;
    height: 1rem;
    background: #29a6dc;
    float:left;
    div:nth-of-type(1){
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        color: #29a6dc;
        background: #fff;
        font-size: 0.4rem;
        text-align: center;
        line-height: 0.5rem;
        margin-left: 0.25rem;
        margin-top: 0.25rem;
        float: left;
    }
    div:nth-of-type(2){
        width: 1.8rem;
        height: 0.6rem;
        color: #fff;
        font-size: 0.4rem;
        text-align: center;
        line-height: 0.6rem;
        margin-left: 29%;
        margin-top: 0.2rem;
        float: left;
    }
}
.header-appz{
    width: 100%;
    height: 2rem;
    background: #29a6dc;
    float: left;
    margin-top: -0.1rem;
    div{
        width: 2rem;
        height: 0.6rem;
        font-size: 0.5rem;
        text-align: center;
        line-height: 0.6rem;
        color: #fff;
        float: left;
        margin-top: 0.7rem;
        margin-left: 36.5%;
    }
}
.tzhiz{
    width: 100%;
    height: 2rem;
    background: #F2F2F2;
    float: left;
    #ttz{
        width: 90%;
        height: 0.4rem;
        font-size: 0.28rem;
        color: #0A196B;
        text-align: center;
        line-height: 0.4rem;
        margin-left: 5%;
        margin-top: 1rem;
        float: left;
    }
    #zzz{
        width: 1.5rem;
        height: 0.4rem;
        font-size: 0.28rem;
        color: #0A196B;
        text-align: center;
        line-height: 0.4rem;
        margin-left: 80%;
        margin-top: 2rem;
    }
}
.looginz{
    width: 100%;
    height:7rem;
    background: #F2F2F2;
    float: left;
    .loogin-zhz{
        width: 85%;
        height: 0.8rem;
        margin-left: 7.5%;
        margin-top: 0.6rem;
        float: left;
        position: relative;
        .zhz1{
           width: 0.5rem;
           height: 0.5rem; 
           font-size: 0.4rem;
           text-align: center;
           line-height: 0.5rem;
           color: #3ABFFD;
           position: absolute;
           left: 0;
           top: 0.2rem;
        }
        input{
            width: 100%;
            height: 0.8rem;
            border: 1px solid #3A91FD;
            border-radius: 35px;
            color: #B0B0B0;
            background: #FFFFFF;
            padding: 0.4rem;
        }
    }
    .loogin-mmz{
        width: 85%;
        height: 0.8rem;
        margin-left: 7.5%;
        float: left;
        margin-top: 0.3rem;
        position: relative;
        .zhz2{
           width: 0.5rem;
           height: 0.5rem; 
           font-size: 0.4rem;
           text-align: center;
           line-height: 0.5rem;
           color: #3ABFFD;
           position: absolute;
           left: 0;
           top: 0.2rem;
        }
        input{
            width: 100%;
            height: 0.8rem;
            border: 1px solid #3A91FD;
            border-radius: 35px;
            color: #B0B0B0;
            background: #FFFFFF;
            padding: 0.4rem;
        }
    }
    .loogin-mm3z{
        width: 85%;
        height: 0.8rem;
        margin-left: 7.5%;
        float: left;
        margin-top: 0.3rem;
        position: relative;
        .zhz3{
           width: 0.5rem;
           height: 0.5rem; 
           font-size: 0.4rem;
           text-align: center;
           line-height: 0.5rem;
           color: #3ABFFD;
           position: absolute;
           left: 0;
           top: 0.2rem;
        }
        input{
            width: 100%;
            height: 0.8rem;
            border: 1px solid #3A91FD;
            border-radius: 35px;
            color: #B0B0B0;
            background: #FFFFFF;
            padding: 0.3rem;
        }
    }
    .loogin-mm4z{
        width: 85%;
        height: 0.8rem;
        margin-left: 7.5%;
        float: left;
        margin-top: 0.8rem;
        position: relative;
        span{
            width: 50%;
            height: 0.3rem;
            font-size: 0.1rem;
            color: #DCDCDC;
            position: absolute;
            left:0.3rem;
            top: 0.5rem;
        }
        input:nth-of-type(1){
            width: 50%;
            height: 0.8rem;
            border: 1px solid #3A91FD;
            border-radius: 35px;
            color: #B0B0B0;
            background: #FFFFFF;
            float: left;
        }
        input:nth-of-type(2){
            width: 35%;
            height: 0.8rem;
            border: 1px solid #3A91FD;
            border-radius: 35px;
            color: #B0B0B0;
            background: #FFFFFF;
            padding: 0.4rem;
            float: right;
        }
    }
    .loogin-zhzhz{
        width: 100%;
        height: 0.4rem;
        margin-top: 0.4rem;
        float: left;
        position: relative;
        .wyzcz{
            width: 2.5rem;
            height: 0.4rem;
            position: absolute;
            top: 0;
            right: 0.2rem;
            .zhz4{
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                font-size: 0.4rem;
                text-align: center;
                line-height: 0.4rem;
                background:#3ABFFD;
                float: left;
            }
            a{
                width:2rem;
                height:0.4rem;
                float: left;
                text-align: center;
                line-height: 0.4rem;
                font-size: 0.3rem;
                color: #666666;
            }
        }
    }
    .loogin-zhdlz{
        width: 70%;
        height: 0.7rem;
        background: #3ABFFD;
        margin-left: 15%;
        float: left;
        border-radius: 30px;
        margin-top: 0.5rem;
        position: relative;
        div:nth-of-type(1){
            width: 0.1rem;
            height: 0.1rem;
            background: #F2F2F2;
            position: absolute;
            top: 0.3rem;
            left: 3%;
            border-radius: 50%;
        }
        a{
            width: 1.1rem;
            height: 0.3rem;
            color: #FFFFFF;
            font-size: 0.2rem;
            position: absolute;
            top: 0.2rem;
            left: 40%;
            border-radius: 50%;
        }
        div:nth-of-type(2){
            width: 0.1rem;
            height: 0.1rem;
            background: #F2F2F2;
            position: absolute;
            top: 0.3rem;
            right: 3%;
            border-radius: 50%;
        }
    }
}
