.dbx {
  width: 100%;
  height: auto; }

.backgrounds {
  background: #29a6dc; }

.headerx {
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  float: left; }
  .headerx div:nth-of-type(1) {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    color: #29a6dc;
    background: #fff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.5rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    float: left; }
  .headerx div:nth-of-type(2) {
    width: 2rem;
    height: 0.6rem;
    color: #fff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.6rem;
    margin-left: 25%;
    margin-top: 0.2rem;
    float: left; }

.header-appx {
  width: 100%;
  height: 3.5rem;
  background: #29a6dc;
  float: left;
  margin-top: -0.1rem; }
  .header-appx div {
    width: 2rem;
    height: 0.6rem;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.6rem;
    color: #fff;
    float: left;
    margin-top: 1.45rem;
    margin-left: 36.5%; }

.tzhix {
  width: 100%;
  height: 2.8rem;
  background: #F2F2F2;
  float: left; }
  .tzhix #ttx {
    width: 90%;
    height: 0.4rem;
    font-size: 0.28rem;
    color: #0A196B;
    text-align: center;
    line-height: 0.4rem;
    margin-left: 5%;
    margin-top: 1.3rem;
    float: left; }
  .tzhix #zzx {
    width: 1.5rem;
    height: 0.4rem;
    font-size: 0.28rem;
    color: #0A196B;
    text-align: center;
    line-height: 0.4rem;
    margin-left: 80%;
    margin-top: 2rem; }

.looginx {
  width: 100%;
  height: 5rem;
  background: #F2F2F2;
  float: left; }
  .looginx .loogin-zhx {
    width: 85%;
    height: 0.8rem;
    margin-left: 7.5%;
    float: left;
    position: relative; }
    .looginx .loogin-zhx .zhx1 {
      width: 0.5rem;
      height: 0.5rem;
      font-size: 0.4rem;
      text-align: center;
      line-height: 0.5rem;
      color: #3ABFFD;
      position: absolute;
      left: 0;
      top: 0.8rem; }
    .looginx .loogin-zhx input {
      width: 100%;
      height: 0.8rem;
      border: 1px solid #3A91FD;
      border-radius: 35px;
      color: #B0B0B0;
      background: #FFFFFF;
      padding: 0.4rem; }
  .looginx .loogin-mmx {
    width: 85%;
    height: 0.8rem;
    margin-left: 7.5%;
    float: left;
    margin-top: 0.4rem;
    position: relative; }
    .looginx .loogin-mmx .zhx2 {
      width: 0.5rem;
      height: 0.5rem;
      font-size: 0.4rem;
      text-align: center;
      line-height: 0.5rem;
      color: #3ABFFD;
      position: absolute;
      left: 0;
      top: 0.8rem; }
    .looginx .loogin-mmx input {
      width: 100%;
      height: 0.8rem;
      border: 1px solid #3A91FD;
      border-radius: 35px;
      color: #B0B0B0;
      background: #FFFFFF;
      padding: 0.4rem; }
  .looginx .loogin-zhzhx {
    width: 100%;
    height: 0.4rem;
    margin-top: 0.8rem;
    float: left;
    position: relative; }
    .looginx .loogin-zhzhx .zhmmx {
      width: 2.5rem;
      height: 0.4rem;
      position: absolute;
      top: 0;
      left: 0.4rem; }
      .looginx .loogin-zhzhx .zhmmx .zhx3 {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        font-size: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
        background: #3ABFFD;
        float: left; }
      .looginx .loogin-zhzhx .zhmmx a {
        width: 2rem;
        height: 0.4rem;
        float: left;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.3rem;
        color: #666666; }
    .looginx .loogin-zhzhx .wyzcx {
      width: 2.5rem;
      height: 0.4rem;
      position: absolute;
      top: 0;
      right: 0.4rem; }
      .looginx .loogin-zhzhx .wyzcx .zhx4 {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        font-size: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
        background: #3ABFFD;
        float: left; }
      .looginx .loogin-zhzhx .wyzcx a {
        width: 2rem;
        height: 0.4rem;
        float: left;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.3rem;
        color: #666666; }
  .looginx .loogin-zhdlx {
    width: 70%;
    height: 0.7rem;
    background: #3ABFFD;
    margin-left: 13%;
    float: left;
    border-radius: 30px;
    margin-top: 0.5rem;
    position: relative; }
    .looginx .loogin-zhdlx div:nth-of-type(1) {
      width: 0.1rem;
      height: 0.1rem;
      background: #F2F2F2;
      position: absolute;
      top: 0.3rem;
      left: 3%;
      border-radius: 50%; }
    .looginx .loogin-zhdlx a {
      width: 1.1rem;
      height: 0.3rem;
      color: #FFFFFF;
      font-size: 0.2rem;
      position: absolute;
      top: 0.2rem;
      left: 43%;
      border-radius: 50%; }
    .looginx .loogin-zhdlx div:nth-of-type(2) {
      width: 0.1rem;
      height: 0.1rem;
      background: #F2F2F2;
      position: absolute;
      top: 0.3rem;
      right: 3%;
      border-radius: 50%; }
