#box2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  #box2 .material {
    width: 100%;
    height: 1rem;
    background: #29a6dc;
    position: relative; }
    #box2 .material .material-left {
      width: 0.5rem;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 18px;
      position: absolute;
      left: 20px;
      bottom: 0;
      margin: auto;
      background: #fff;
      border: 2px solid #076cbe;
      border-radius: 50%;
      top: 0;
      text-align: center; }
      #box2 .material .material-left a {
        line-height: 0.45rem;
        color: #5dbbe3;
        font-size: 17px;
        text-align: center;
        display: block; }
    #box2 .material .material-middle {
      width: 4rem;
      height: 1rem;
      line-height: 1rem;
      margin: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      text-align: center; }
      #box2 .material .material-middle .Myprofile {
        font-size: 18px;
        color: #fff;
        height: 0.3rem;
        line-height: 0.3rem;
        text-align: center;
        margin-top: 0.1rem; }
      #box2 .material .material-middle .zhong {
        width: 0.6rem;
        height: 0.1rem;
        margin: 0 auto;
        margin-top: 0.1rem; }
        #box2 .material .material-middle .zhong .small-yuan {
          width: 0.05rem;
          height: 0.05rem;
          float: left;
          margin-top: 0.07rem;
          border-radius: 50%;
          background: #72dbf9; }
        #box2 .material .material-middle .zhong .mid-line {
          margin-top: 0.09rem;
          width: 0.5rem;
          height: 0.02rem;
          float: left;
          background: #72dbf9; }
      #box2 .material .material-middle .myfile {
        width: 100%;
        margin-top: 0.1rem;
        height: 0.2rem;
        color: #72dbf9;
        font-size: 10px;
        text-align: center;
        line-height: 0.2rem; }
    #box2 .material .material-right {
      width: 0.5rem;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 18px;
      position: absolute;
      right: 20px;
      bottom: 0;
      margin: auto;
      background: #fff;
      border: 2px solid #076cbe;
      border-radius: 50%;
      top: 0;
      text-align: center; }
      #box2 .material .material-right a {
        text-align: center;
        line-height: 0.5rem;
        color: #5dbbe3;
        font-size: 14px;
        display: block; }
  #box2 .banner {
    width: 100%;
    height: 3.8rem;
    padding-top: 1.2rem;
    text-align: center; }
    #box2 .banner .tou {
      width: 1.6rem;
      height: 1.6rem;
      border: 5px solid #EDEDED;
      border-radius: 50%;
      margin: auto; }
      #box2 .banner .tou a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: url(../../../imgs/6.jpg);
        background-size: cover; }
    #box2 .banner h6 {
      font-size: 20px;
      color: #5F5F5F;
      margin-top: 20px; }
    #box2 .banner p {
      font-size: 14px;
      color: #9C9C9C;
      margin-top: 10px; }
  #box2 .Center {
    width: 100%;
    height: 6.31rem;
    margin-top: 35px; }
    #box2 .Center #gongneng {
      width: 90%;
      height: 4rem;
      margin: auto;
      box-shadow: 0 0 10px #000000; }
      #box2 .Center #gongneng li {
        width: 100%;
        height: 25%;
        border-bottom: 1px dashed #A5A5A5; }
        #box2 .Center #gongneng li span {
          color: #3A63FD;
          font-size: 24px;
          float: left;
          margin-top: 4px;
          margin-left: 10px; }
        #box2 .Center #gongneng li a {
          display: block;
          float: left;
          margin-left: 10px; }
          #box2 .Center #gongneng li a h6 {
            font-size: 16px;
            color: #585858;
            font-style: normal;
            margin-top: 3px; }
          #box2 .Center #gongneng li a span {
            font-size: 12px;
            color: #7C7C7C;
            line-height: 10px;
            margin-left: 0; }
        #box2 .Center #gongneng li p {
          float: right;
          font-size: 14px;
          color: #7C7C7C;
          margin-top: 14px;
          margin-right: 30px; }
        #box2 .Center #gongneng li #shuoming {
          font-size: 16px;
          margin-top: 15px;
          position: absolute;
          right: 25px; }
      #box2 .Center #gongneng li:nth-of-type(3) #con {
        float: left; }
      #box2 .Center #gongneng li:nth-of-type(3) a {
        margin-left: 44px; }
      #box2 .Center #gongneng li:nth-of-type(4) {
        border-bottom: 0; }
        #box2 .Center #gongneng li:nth-of-type(4) span {
          margin-top: 10px; }
  #box2 #foot {
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: -665px; }
    #box2 #foot .li {
      width: 33.333%;
      height: 1rem;
      float: left;
      background: linear-gradient(to right, #151C2B, #151B2A, #0C111A);
      text-align: center; }
      #box2 #foot .li a {
        display: block;
        margin-top: 3px; }
        #box2 #foot .li a p {
          font-size: 20px;
          color: #595B5F;
          height: 0.4rem; }
        #box2 #foot .li a em {
          font-size: 14px;
          color: #6D6D6E;
          font-style: normal;
          display: block;
          margin-top: 5px; }
    #box2 #foot .li:nth-of-type(3) a p {
      color: #fff; }
  #box2 #tanchuang {
    width: 5rem;
    height: 3rem;
    background: #Fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5.5rem;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4); }
    #box2 #tanchuang a {
      display: block; }
      #box2 #tanchuang a .small-dian {
        width: 1.5rem;
        height: 0.06rem;
        float: left; }
        #box2 #tanchuang a .small-dian .xiao-one {
          width: 0.1rem;
          height: 0.06rem;
          background: #29dcbc;
          border-radius: 0.3rem;
          float: left;
          margin-right: 0.1rem; }
      #box2 #tanchuang a .sex-select {
        width: 100;
        height: 1rem;
        margin-top: 0.3rem; }
        #box2 #tanchuang a .sex-select .sex {
          color: #000;
          font-size: 20px;
          line-height: 0.5rem;
          text-align: center; }
        #box2 #tanchuang a .sex-select .sex:nth-of-type(2) {
          font-size: 12px;
          line-height: 0.3rem; }
        #box2 #tanchuang a .sex-select .sex:nth-of-type(3) {
          font-size: 16px;
          line-height: 0.5rem; }
      #box2 #tanchuang a .small-dian:nth-of-type(2) {
        float: right; }
        #box2 #tanchuang a .small-dian:nth-of-type(2) .xiao-one {
          float: right;
          margin-left: 0.1rem;
          margin-right: 0; }
      #box2 #tanchuang a .tc-profile-top {
        width: 100%;
        height: 0.7rem;
        background: #29dcbc; }
        #box2 #tanchuang a .tc-profile-top .profile-top-left {
          width: 0.45rem;
          height: 0.45rem;
          line-height: 0.45rem;
          background: #fff;
          float: left;
          color: #29dcbc;
          margin-top: 0.13rem;
          margin-left: 0.7rem;
          border-radius: 50%; }
        #box2 #tanchuang a .tc-profile-top .profile-top-mid {
          width: 3rem;
          height: 0.25rem;
          float: left;
          margin-left: 0.15rem;
          color: #fff;
          font-size: 14px;
          margin-top: 0.06rem; }
        #box2 #tanchuang a .tc-profile-top .english {
          height: 0.2rem;
          font-size: 8px;
          margin-top: 0.1rem; }
      #box2 #tanchuang a .tc-profile-mid {
        width: 100%;
        height: 0.8rem; }
        #box2 #tanchuang a .tc-profile-mid .setting-list {
          width: 100%;
          height: 0.8rem;
          border-bottom: 1px dashed #ccc;
          position: relative;
          margin-top: 0.1rem; }
          #box2 #tanchuang a .tc-profile-mid .setting-list .set-list-left {
            width: 0.5rem;
            height: 0.5rem;
            line-height: 0.5rem;
            background: #3acdfd;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 0.15rem; }
          #box2 #tanchuang a .tc-profile-mid .setting-list .leftthree {
            background: #3afd9a; }
          #box2 #tanchuang a .tc-profile-mid .setting-list .set-list-mid {
            width: 3rem;
            height: 0.6rem;
            position: absolute;
            left: 1rem;
            top: 0;
            bottom: 0;
            margin: auto; }
            #box2 #tanchuang a .tc-profile-mid .setting-list .set-list-mid .s-list-mid-top {
              width: 100%;
              height: 0.3rem;
              line-height: 0.3rem;
              color: #333;
              font-size: 16px; }
            #box2 #tanchuang a .tc-profile-mid .setting-list .set-list-mid .s-list-mid-top:nth-of-type(2) {
              font-size: 9px;
              height: 0.2rem;
              margin-top: 0.05rem;
              color: #999; }
        #box2 #tanchuang a .tc-profile-mid .setting-list:nth-of-type(2) {
          border: 0; }
  #box2 .tc-profile-bot {
    width: 2.5rem;
    height: 0.7rem;
    border-radius: 20px;
    background: #29dcbc;
    position: absolute;
    left: 0;
    right: 0;
    top: 8.1rem;
    z-index: 12;
    margin: auto;
    color: #fff;
    text-align: center;
    line-height: 0.7rem;
    font-size: 16px; }
